<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TropicalServer</title>

    <style>

    div.container-fluid {
        height: 20px;

    }

    a {
        height: 18px;
    }
    
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>*@
<body >

          

    <div class="container">
       
        <div class="main">

            <div class="imageDisplay">
                <img height="100" src="@Url.Content("~/Images/Header.jpg")" />

                <nav style="background-color:#FBB917; border:none" class="navbar-default">
                    <div style="background-color:deepskyblue" class="container-fluid">
                        <div id="menuItem">
                            <ul class="navbar-nav">
                                <li class="active"><a href="/Product/Orders" style="border:0;">Orders</a></li>
                                <!--  <li class="active">@Html.ActionLink("Orders", "Orders", "Product")</li>
                        <li>@Html.ActionLink("Product", "Product", "Product")</li>
                        <li>@Html.ActionLink("Routes", "Routes", "Product")</li>
                        <li>@Html.ActionLink("StopSEQN", "StopSEQN", "Product")</li>
                        <li>@Html.ActionLink("MessageCenter", "MessageCenter", "Product")</li>
                        <li>@Html.ActionLink("Reports", "Reports", "Product")</li>
                        <li>@Html.ActionLink("Settings", "Settings", "Product")</li> -->
                                <li style="float:right"><a href="/Login/Logout" style="border: 0;">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            @RenderBody()

            

           
            <footer style="position: fixed; bottom: 0px; width: 100%; height: 60px;">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    </div>     
  

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
